:root {
  /* button colors */
  --button-primary-color: #33e6bf;
  --button-primary-hover-color: #0fbf93;
  --button-secondary-color: #061b3a;
  --button-secondary-hover-color: #3b6a91;
  --button-tertiary-color: #2155df;
  --button-tertiary-hover-color: #1e6ad1;
  --button-disabled-color: #0b1a3a;
  --button-danger-color: #da2e2e;

  /* backgrounds */
  --background-primary-color: #02122b;
  --background-secondary-color: #061b3a;
  --background-tertiary-color: #11284a;
  --background-error-color: #2b1111;
  --background-success-color: #042436;
  --background-warning-color: #362b17;

  /* borders */
  --border-light-color: #11284a;
  --border-normal-color: #1b3f73;

  /* text colors */
  --text-primary-color: #f0f4fc;
  --text-disabled-color: #718096;
  --text-light-color: #c9d6e8;
  --text-extra-light-color: #8295ae;
  --text-dark-color: #02122b;

  /* alert colors */
  --alert-success-color: #13c89d;
  --alert-info-color: #5ca7ff;
  --alert-warning-color: #ffc25c;
  --alert-error-color: #ff5c5c;
}
