.rating {
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding: 24px;
    background-color: var(--background-secondary-color);
    border-radius: 12px;
    gap: 22px;
}

.rating-chart {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.rating-bar {
    display: flex;
    align-items: center;
    gap: 6px;

    .count {
        font-size: 0.875rem;
    }
    .bar {
        height: 8px;
        background-color: #FFB400;
        border-radius: 2px;
        font-size: 2rem;
    }
}
